# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment variables
.env

# Virtual environments
venv/
.env/

# Logs and databases
*.log
*.sqlite3
*.db

# System files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

test-file.zip
.pytest_cache/